<ion-header>
  <ion-navbar>
    <ion-title>Book List</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addSong()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Book List</h2>
  <ion-list>
    <ion-item *ngFor="let book of books | async" (click)="showOptions(book.$key, book.title)">
      {{book.title}} -
      {{book.author}}
    </ion-item>
  </ion-list>
</ion-content>
